.header {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-bar-logo {
    height: max-content;
}

.nav-bar-ul {
    display: flex;
    gap: 2rem;
    
}

.nav-bar-ul li {
    list-style-type: none;
    cursor: pointer;
}

.nav-bar-link {
    text-decoration: none;
    color: var(--secundary-very-dark-blue);
    border: solid transparent 2px;
    padding: .8rem 2rem;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.nav-bar-link:hover {
    color: var(--primary-soft-red);
}

.nav-bar-link-login {
    padding: .8rem 2rem;
    border: solid var(--primary-soft-red) 2px;
    border-radius: 7px;
    background: var(--primary-soft-red);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
}

.nav-bar-link-login:hover {
    background: white;
    color: var(--secundary-very-dark-blue);
}
